body {
  font-family: Arial;
}
.container {
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  justify-content: center;
  align-content: center;
}
.item {
  background: lightblue;
  border: 1px solid red;
  padding: 10px;
}
