body {
  font-family: Arial;  
}

.container {
  display: grid;
  /*grid-template: 300px 100px 100px / 1fr 1fr 1fr;*/
  /*grid-template: 300px 100px 100px / repeat(4, 1fr);*/
  grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));
  /*grid-column-gap: 30px; 
  grid-row-gap: 50px;*/
  /*grid-gap: rows columns;*/
  grid-gap: 10px;
}

.item {
  background: lightblue;
  border: 1px solid red;
  padding: 10px;
}

.item:nth-of-type(4){
  background: blue;
  overflow: auto;
  /*display: inline-grid; aun no disponible*/
  /*display: subgrid; aun no disponible*/
  display: grid;
  grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item {
  background: yellow;
}