body {
  margin: 0;
}


figure.movie {
  margin: 0;
  display: block;
  position: relative;
  cursor: pointer;
}

figure.movie figcaption {
  position: absolute;
  left: 0px;
  bottom: 4px;
  background: rgba(240,128,128, .7);
  color: white;
  width: (100%-10px);
  padding: 5px;
}
figure.movie .title {
  font-weight: bold;
}
figure.movie .description {
  margin:0;
}



.container {
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
  grid-template-areas:  "navigation navigation navigation"
                        "aside content content";
  width: 100%;
  grid-column-gap: 20px;

}
.container nav {
  grid-area: navigation;
  height: 40px;
  display: grid;
  grid-template-columns: 100px 4fr 1fr;
  background: #fafafa;
  grid-column-gap: 10px;
  box-shadow: 6px 0 4px black;
}
.container nav div img {
  max-width: 35px;
}
.container nav .logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container nav .logo span {
  font-family: 'Indie Flower', cursive;
  color: rgb(240,128,128);
  margin: auto auto;
  align-self: center;
}
.container nav form {
  align-self: center;
  justify-self: right;
  width: 90%;
}
.container nav form input{
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  width: 100%;
}
.container nav .user {
  justify-self: right;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  cursor: pointer;
}
.container nav .user span {
  font-family: 'Indie Flower', cursive;
  align-self: center;
}

.container nav .user img{
  border-radius: 100%;
}

.container aside {
  grid-area: aside;
  background: rgba(255, 0, 0, 0.6);
  justify-content: center;
  align: center;
  box-shadow: 0 6px 6px black;
}
.container aside .menu-item {
  margin: auto auto;
  text-align:center;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}
.container aside .menu-item:nth-of-type(1) {
  margin-top: 20px;
}
.container .movie-list {
  display: grid;
  grid-template-rows: repeat(3, 1rf);
  grid-area: content;
  grid-row-gap: 50px;
}
.container .movie-list .category div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.container .movie-list figure img {
  width: 100%;
}